body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./images/background.avif);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
}

h1 {
    text-align: center;
}

.content-box {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.69);
    border-radius: 15px;
    backdrop-filter: blur(20px);
}

form {
    width: 300px;
}

input {
    display: block;
    height: 30px;
    width: 100%;
    margin: 10px auto;
    padding: 3px;
    border-radius: 12px;
    border: 2px solid  rgb(49, 49, 49);
}

p {
    margin: 5px;
}

input.valid {
    border-color: rgb(0, 184, 18);
}

input.invalid {
    border-color: red;
    animation: shake 0.2s ease-in-out 0s 2;
    box-shadow: 0 0 0.5em red;
}

input + p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 0, 0);
    opacity: 0;
    height: 0;
}

input.invalid + p {
    opacity: 1;
    height: auto;
    margin-bottom: 10px;
}

button {
    padding: 10px 30px;
    margin-top: 20px;
    background-color: rgb(27, 172, 124);
    border: 0px solid;
    border-radius: 12px;
    font-size: 16px;
    color: white;
}

a {
text-decoration: none;
color: white;
}

a:hover {
    color: black;
}

@keyframes shake {
    0% { margin-left: 0rem; }
    25% { margin-left: 0.5rem; }
    75% { margin-left: -0.5rem; }
    100% { margin-left: 0rem; }
  }