body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./images/background.avif);
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
}

h1 {
    text-align: center;
}

.content-box {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
    background-color: rgba(223, 227, 226, 0.927);
    border-radius: 15px;
}

form {
    width: 300px;
}

input {
    display: block;
    height: 30px;
    width: 100%;
    margin: 10px auto;
    padding: 3px;
    border-radius: 12px;
    border: 2px solid  rgb(49, 49, 49);
}

p {
    margin: 5px;
}

input.valid {
    border-color: rgb(0, 184, 18);
}

input.invalid {
    border-color: orange;
}

input + p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: orange;
    opacity: 0;
    height: 0;
}

input.invalid + p {
    opacity: 1;
    height: auto;
    margin-bottom: 10px;
}

button {
    padding: 10px 30px;
    margin-top: 20px;
    background-color: rgba(19, 119, 54, 0.851);
    border: 0px solid;
    border-radius: 12px;
    font-size: 16px;
    color: white;
}

a {
text-decoration: none;
color: white;
}

a:hover {
    color: black;
}